<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
 
<body>
 <h2>
<a th:href="@{http://localhost:8080/jugador/add}"> Crear Jugador</a>
<br></br>
<a th:href="@{http://localhost:8080/update}">Modicar nombre Jugador</a>
<br></br>
<a th:href="@{http://localhost:8080/partida/add}"> Partida</a>
<br></br>
<a th:href="@{http://localhost:8080/players/games}">Eliminar Tiradas</a>
<br></br>
<a th:href="@{http://localhost:8080/jugador/players/games}">Listado de un Jugador</a>
<br></br>
<a th:href="@{http://localhost:8080/players}">Listado de Todos Jugadores</a>
<br></br>
<a th:href="@{http://localhost:8080/ranking}">Ranking</a>
<br></br>
<a th:href="@{http://localhost:8080/peorJugador}">Peor Jugador</a>
<br></br>
<a th:href="@{http://localhost:8080/mejorJugador}">Mejor Jugador</a>
</h2> 
</body>
</html>

