<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Partida Jugador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Partida Jugador</h1>
        <hr>
        
        <form action="#" th:action="@{/savePartida}" th:object="${partida}" method="POST">
            <h2>Id Partidar</h2>
            <input type="text" th:field="*{idPartida}" placeholder="Id Partida" class="form-control mb-4 col-4">
            
            <h2>Id Tirada</h2>
            <input type="text" th:field="*{idTirada}" placeholder="Id Tirada" class="form-control mb-4 col-4">
            
            <h2>Nombre del Jugador</h2>
            <input type="text" th:field="*{nombreJugador}" placeholder="Nombre Jugador" class="form-control mb-4 col-4">
            
            <h2>Dado 1</h2>
            <input type="text" th:field="*{dado1}" placeholder="Dado 1" class="form-control mb-4 col-4">
            
            <h2>Dado 2</h2>
            <input type="text" th:field="*{dado2}" placeholder="Dado 2" class="form-control mb-4 col-4">
            
            
            
			<button type="submit" class="btn btn-info col-2">Jugar</button>
			<button type="submit" class="btn btn-info col-2">Salir</button>
            
            
       </form>
       
      
       
       

   <!--     <a th:href="@{http://localhost:9000/sucursal/getAll}"> Partida</a>
        <br></br>
        <a th:href="@{http://localhost:9000/sucursal/getAll}"> Partida2</a> -->  
    </div> 
</body>

</html>